body,
html {
    height: 100%;
    font-family: "Karla", sans-serif;
    font-size: 16px;
}

#bg {
    background-image: url("../img/auth-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.isi{
    padding-top: 1rem;
    background-color: #fdfffc;
    height: 100vh;
}

.center{
    text-align: center;
}

.text-heading{
    font-family: "Spectral", serif;
    font-size: 48px;
}

.text-heading-2{
    margin-top: 1rem;
    font-family: "Spectral", serif;
    font-size: 20px;
}

.btn-primary{
    background-color: #2ec4b6;
    border-color: #2ec4b6;
    color: #fdfffc !important;
    font-family: "Spectral", serif;
}

.btn-primary:hover{
    background-color: #209181;
    border-color: #209181;
} 

.link{
    color: #2ec4b6;
}