:root {
    margin: 0;
    padding: 0;

    --color-black: var(#011627);
    --color-white: var(#fdfffc);
    --color-primary: var(#2ec4b6);
    --color-secondary: var(#ff9f1c);
    --color-tertiary: var(#e71d36);

    --font-heading: var("Spectral", serif);
    --font-body: var("Karla", sans-serif);
}

body {
    min-height: 100%;
}
